.kolom2{
    float: right 50%;
    margin-left: 14%;
    padding: 20px;
    height: auto;
    width: 584px;
    background-color: blanchedalmond;
}

footer{
    background-color: cornflowerblue;
    padding: 20px;
    width: 784px;
    height: 100px;
    color: white;
    text-align: center;
}